- if notice
  .alert.alert-success.alert-dismissible.fade.show{ role: "alert", "data-controller": "alert", "data-action": "click->alert#close", "data-alert-target": "alert" }
    = notice
    %button.btn-close{ type: "button", "data-bs-dismiss" => "alert", "aria-label" => "Close" }
- if alert
  .alert.alert-danger.alert-dismissible.fade.show{ role: "alert", "data-controller": "alert", "data-action": "click->alert#close", "data-alert-target": "alert" }
    = alert
    %button.btn-close{ type: "button", "data-bs-dismiss" => "alert", "aria-label" => "Close" }
